@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
 
 
:root {
    --primary-color-hue: 252;
    --dark-color-lightness: 17%;
    --light-color-lightness: 95%;
    --white-color-lightness: 100%;
 
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-grey: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-secondary: hsl(252, 100%, 90%);
    --color-success: hsl(120, 95%, 65%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --color-black: hsl(252, 30%, 10%);
 
    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;
 
    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
 
}
 
.containeeerrr {
    display: grid;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f5;
    overflow-x: hiddenrgb(207, 207, 228);
    margin-left: 3px;
    margin-right: 3px;
    padding-right: 3px;
    padding-left:3px ;
}

.container {

    width: 100%;
    margin: 0 auto;
}

  
.profile-photo {
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

img {
    display: block;
    width: 120px;
    height: 90px;
    
}

.btn {
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
}
.icon {
    font-size: 30px;  /* Agrandir la taille des icônes */
    color: #000;  /* Changer la couleur en noir */
    margin: 10px;
} 
.btn:hover {
    opacity: 0.8;
}
 
.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}
 
.text-bold {
    font-weight: 500;
}
 
.text-muted {
    color: var(--color-grey);
}
nav {
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10000; 
}
.navbar-brand img {
    max-width: 200px;
    max-height: 60px;
    top: 0;

}

.search-bar {
    background: var(--color-light);
    max-width: 10px;
    border-radius: var(--border-radius);
}

.search-bar input[type="search"] {
    background: transparent;
        color: var(--color-dark);
 
}

.search {
    max-width: 600px; /* Adjust this value to control the width */
}

.padding {
    padding: 2rem !important;
}
 
.user-card-full {
    overflow: hidden;
}
 
.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 10px; /* Reduced margin bottom */
}
 
.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
    min-height: 170px;
}
.container2 {
    justify-content: space-between;
        background-color: #f0f0f5;

} 
.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right,#ee9c3452, #e3721cb3);
  
}
.page-content {
    padding-top: 20px;
}
.user-profile {
    padding: 10px 0; }
 
.card-block {
    padding: 1rem;
}
.row.container {
    margin-bottom: 0px; 
}
.card .card-block p {
    font-size: 14px; /* Adjusted font size */
    line-height: 20px; /* Adjusted line height */
}
.card.user-card-full {
    min-width: 350px;
    min-height: 170px;
}


@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}
 
.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}
 
.m-b-20 {
    margin-bottom: 20px;
}
 
.p-b-5 {
    padding-bottom: 5px !important;
}
 
.text-muted {
    color: #919aa3 !important;
}
 
.f-w-600 {
    font-weight: 600;
}
 
.m-t-40 {
    margin-top: 20px;
}
 
 
/* CSS */
.button-62 {
  background: linear-gradient(to bottom right, #EE9C34, #E3721C);
  border: 0;
  margin-top: 20px ;
   border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}
 
.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
 
.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}