.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
 
  
  .image-container img.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .text-orange{
    color: orange;
  }
  
  @media (max-width: 1200px) {
    .image-container {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .container-fluid {
      padding: 0;
    }
    
    .col-xl-6 {
      width: 100%;
    }
  
    .w-100 {
      padding: 2rem 1rem;
    }
  }
  