
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
</head>
<nav class="navbar px-5 nav bg-white fixed-top ">
    <div class="container-fluid ">
      <div>
        <a href="/feed" class="navbar-brand d-flex align-items-center">
          <img src="../assets/pwc-connect-removebg-preview.png" class="img-fluid" alt="">
        </a>
      </div>
      <div class="container search">
        <div class="form-group">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="d-flex align-items-center">
          <a href="/feed" class="menu-item active">
            <span><i class="uil uil-home icon"></i></span>
        </a>
        <a href="/signin" class="menu-item active">
          <span><i class="uil uil-sign-out-alt icon"></i></span>
      </a>

          <!--img [src]="'data:image/png;base64,'+user?.image" class="rounded-circle mx-2" style="width: 70px; height: 70px;">
          <h5><span class="font-weight-bold d-lg-inline">{{user?.firstname}} {{user?.lastname}}</span></h5--> 
        </div>
      </div>
    </div>
  </nav>