<app-navbar></app-navbar>
<div class="container-fluid h-100">
    <div class="content-wrapper h-100">
        <!-- Row start -->
        <div class="row gutters h-100">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 h-100">
                <div class="card m-0 h-100">
                    <!-- Row start -->
                    <div class="row no-gutters h-100">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3 h-100">
                            <div class="users-container h-100">
                                <div class="chat-search-box">
                                    <div class="input-group">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                                                [(ngModel)]="searchQuery" (input)="filterUsers()">
                                        </div>
                                    </div>
                                </div>
                                <ul class="users">
                                    <li class="person" *ngFor="let user of (searchQuery.trim() ? filteredUsers : users)" (click)="handleUserClick(user)" [ngClass]="{'selected-user': selectedUserId === user.id}">
                                        <div class="user">
                                            <img [src]="'data:image/png;base64,'+user.image " alt="Retail Admin">
                                            <span class="status busy"></span>
                                        </div>
                                        <p class="name-time">
                                            <span class="name">{{ user.firstname }} {{ user.lastname }}</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9 h-100 d-flex flex-column">
                            <div class="selected-user">
                                <span>To: <span class="name">{{ selectedUserName?.firstname }} {{ selectedUserName?.lastname }}</span></span>
                            </div>
                            <div class="chat-container flex-grow-1 d-flex flex-column-reverse" #chat>
                                <div class="form-group mt-3 mb-0">
                                    <textarea [(ngModel)]="message" class="form-control" rows="3" placeholder="Type your message here..."></textarea>
                                    <button (click)="sendMessage()" class="btn btn-primary mt-2">Send</button>
                                </div>
                                <div class="chat-container flex-grow-1 d-flex flex-column-reverse" #chatContainer>
                                    <ul class="chat-messages flex-grow-1">
                                        <li *ngFor="let message of messages" [ngClass]="{'chat-left': message.senderId !== loggedInUserId, 'chat-right': message.senderId === loggedInUserId}">
                                            <div class="chat-avatar" *ngIf="message.senderId !== loggedInUserId">
                                                <img [src]="'data:image/png;base64,'+getUserById(message.senderId)?.image " alt="Receiver Avatar">
                                                <div class="chat-name">{{ getUserById(message.senderId)?.firstname }}</div>
                                            </div>
                                            <div class="chat-text">{{ message.content }}</div>
                                            <div class="chat-avatar" *ngIf="message.senderId === loggedInUserId">
                                                <img [src]="'data:image/png;base64,'+user.image " alt="Sender Avatar">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
    <!-- Content wrapper end -->
</div>
